body {
}

.list {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    transition: transform 0.3s ease;
}

.home-image {
    height: 320px;
    width: 320px;
}

.list:hover {
    transform: scale(1.1);
}
