.homepage-restrict{
    display: flex;
    justify-content: center;    
}

.homepage-restrict h1 {
    font-family: Cabin, sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #0e1111;
}

.list {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    transition: transform 0.3s ease;
}

.home-image {
    height: 320px;
    width: 320px;
}

.list:hover {
    transform: scale(1.1);
}
