@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

.login-box {
    border: 3.5px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin: 0 auto;       
    justify-content: center;
    align-items: center;
}

.login-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px, 0px;
}

h2 {
    font-family: Cabin, sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #0e1111;
    text-align: center;
}

.login-text {
    font-family: Cabin, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0e1111;
    text-decoration: none;
}

.loginButton {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
}


.register-now {
    display: inline;
    font-family: Cabin, sans-serif;
    font-weight: 500;
    font-size: 16px;
}
